.expert {
    text-align: center;

    .expert-tittle {
        h2 {
            font-size: 32px;
            font-weight: bold;
            line-height: 56px;
            letter-spacing: 0;
        }

        p {
            font-size: 16px;
            font-weight: 300;
            line-height: 34px;
            letter-spacing: 0;
        }
    }

    .row {
        padding-top: 40px;
        padding-bottom: 60px;
        .input-group {
            width: 90%;
            height: 40px;
        }

        .desc {
            height: 150px;
            padding-bottom: 120px;
        }

        .first {
            border: 1px solid #cecece;
            width: 90%;
            height: 40px;
            margin-bottom: 17px;
            text-align: left;
            font-size: 15px;
            font-weight: 300;
            line-height: 29px;
            letter-spacing: 0;
            padding-left: 10px;
        }

        li {
            list-style: none;
        }

        .content {
            text-align: left;

            p {
                padding-bottom: 20px;
                font-size: 18px;
                font-weight: 300;
                line-height: 40px;
                letter-spacing: 0;
            }
        }

        .line {
            padding-left: 194px;
        }

        .list {
            h3 {
                text-align: left;
                padding-bottom: 15px;
                font-size: 24px;
                font-weight: bold;
                line-height: 29px;
                letter-spacing: 0;
            }
        }
    }
}
