.footer {
    background: #b57ad2;
    color: #fff;

    .row {
        padding-top: 30px;
    }
    .company {
        ul {
            list-style: none;

            h3 {
                font-size: 24px;
                font-weight: bold;
                line-height: 31px;
                letter-spacing: 0;
            }

            a {
                font-size: 12px;
                font-weight: 400;
                line-height: 31px;
                letter-spacing: 0;
                text-decoration: none;
                color: #fff;
            }
        }
    }

    .quick {
        ul {
            list-style: none;

            h3 {
                font-size: 24px;
                font-weight: bold;
                line-height: 31px;
                letter-spacing: 0;
            }

            a {
                font-size: 12px;
                font-weight: 400;
                line-height: 31px;
                letter-spacing: 0;
                text-decoration: none;
                color: #fff;
            }
        }
    }

    .social-icons {
        ul {
            list-style: none;
            display: flex;
            margin-left: -40px;
            padding-top: 15px;

            .bi {
                width: 45px;
                height: 33px;
            }
        }
    }

    h6 {
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0;
    }

    .text-muted {
        color: #ffffffa6 !important;
    }
}
