.btn {
  padding: 21px 53px 20px 53px;
  background-color: #b57ad2;
  border-radius: 31.54px;
  width: auto;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .btn {
    padding: 15px 40px 15px 40px;
  }
}

.logo-1 {
  display: none;
}

@media (max-width: 992px) {
  .logo-1 {
    display: block;
  }
}

.collapse {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .logo {
    display: none;
  }
}

.navbar .nav-link {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0;
  color: #3c3c3c;
  padding-top: 10px;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.navbar .sched {
  border: 1px solid #b57ad2;
  border-radius: 23px;
  margin-left: 40px;
  color: #b57ad2;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0;
  font-weight: bold;
  padding: 14px 20px 13px 20px;
  text-decoration: none;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .navbar .sched {
    margin: 0;
    width: 170px;
  }
}

.nav-nav {
  -webkit-box-shadow: 0px 2px 4px #000000;
          box-shadow: 0px 2px 4px #000000;
  border: 1px solid #707070;
}

.header {
  background-image: url("/images/Oval.png");
  background-position-x: 938px;
  background-position-y: -225px;
  background-size: 1037px 850px;
  background-repeat: no-repeat;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .header {
    background-image: url("/images/Background-2.png");
    background-size: 100% 100%;
    background-position: center;
  }
}

.header .container {
  padding-bottom: 50px;
}

.header .background-picture {
  padding-top: 50px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .header .background-picture {
    padding-top: 60px;
    padding-bottom: 50px;
  }
}

.header .px-3 {
  padding-top: 150px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .header .px-3 {
    padding-top: 55px;
  }
}

.header .px-3 .btn-lead {
  padding-top: 40px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .header .px-3 .btn-lead {
    padding-top: 10px;
  }
}

.header .px-3 h1 {
  font-size: 40px;
  line-height: 42px;
  font-weight: bold;
  text-align: left;
  letter-spacing: 0;
  color: #3c3c3c;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .header .px-3 h1 {
    font-size: 26px;
    line-height: 30px;
  }
}

.header .px-3 p {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  font-weight: 300;
  color: #3c3c3c;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .header .px-3 p {
    font-size: 16px;
    line-height: 28px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .achievements .achieve {
    height: 100px;
  }
}

.services .services-tittle {
  text-align: center;
  padding: 60px 0;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .services .services-tittle {
    padding-bottom: 40px;
    padding-top: 40px;
  }
}

.services .services-tittle h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 56px;
  color: #3c3c3c;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .services .services-tittle h2 {
    font-size: 26px;
    line-height: 30px;
  }
}

.services .services-tittle p {
  font-size: 16px;
  font-weight: 300;
  line-height: 34px;
  letter-spacing: 0;
  color: #3c3c3c;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .services .services-tittle p {
    font-size: 14px;
    line-height: 24px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .services .row .col-12 {
    padding-top: 15px;
  }
}

.services .card p {
  font-size: 22px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0;
  color: #3c3c3c;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .services .card p {
    font-size: 20px;
    line-height: 24px;
  }
}

.services .card li {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0;
  color: #3c3c3c;
  padding: 10px;
  position: relative;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .services .card li {
    font-size: 15px;
    line-height: 23px;
  }
}

.services .card li:before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background-image: url("/images/lil-Oval.png");
  background-size: contain;
  left: -8px;
  margin-top: 4px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .services .card li:before {
    width: 10px;
    height: 10px;
    left: -5px;
    margin-top: 6px;
  }
}

.procress {
  text-align: center;
  height: 900px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .procress {
    height: auto;
    margin-bottom: -60px;
  }
}

.procress .process-tittle {
  padding-top: 50px;
}

.procress .process-tittle h2 {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 56px;
  color: #3c3c3c;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .procress .process-tittle h2 {
    font-size: 26px;
    line-height: 40px;
  }
}

.procress .process-tittle p {
  font-size: 16px;
  font-weight: 300;
  line-height: 34px;
  letter-spacing: 0;
  color: #3c3c3c;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .procress .process-tittle p {
    font-size: 14px;
    line-height: 24px;
  }
}

.procress .process-holder {
  position: relative;
  top: 290px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .procress .process-holder {
    top: -80px;
  }
}

.procress .process-holder .background-holder {
  position: absolute;
  width: 100%;
  left: -25px;
  top: -205px;
  z-index: 1;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .procress .process-holder .background-holder {
    width: 100%;
  }
}

.procress .process-holder .background-holder img {
  width: 104%;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .procress .process-holder .background-holder img {
    display: none;
  }
}

.procress .process-holder .pic-1 {
  top: -140px;
  right: 6px;
  z-index: 1;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .procress .process-holder .pic-1 {
    left: 0;
    top: 0;
  }
}

.procress .process-holder .pic-2 {
  left: 0;
  top: -140px;
  z-index: 1;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .procress .process-holder .pic-2 {
    top: 0;
    right: 0;
  }
}

.procress .process-holder .pic-3 {
  right: 2px;
  top: -140px;
  z-index: 1;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .procress .process-holder .pic-3 {
    left: 0;
    top: 0;
  }
}

.procress .process-holder .pictures {
  position: absolute;
  width: 100%;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .procress .process-holder .pictures {
    width: auto;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .procress .process-holder .pictures img {
    width: 150px;
  }
}

.procress .process-holder .row {
  height: 100%;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .procress .process-holder .row {
    height: 100%;
    width: 100%;
    margin: 0;
  }
}

.procress .process-holder .row .content {
  padding-top: 100px;
  margin-top: 40px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .procress .process-holder .row .content {
    padding-top: 120px;
  }
}

.procress .process-holder .row .pink {
  background: #b57ad2;
}

.procress .process-holder .row .dark-blue {
  background: #3490cf;
}

.procress .process-holder .row h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: 0;
  color: #fff;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .procress .process-holder .row h3 {
    font-size: 16px;
    line-height: 20px;
  }
}

.procress .process-holder .row p {
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
  padding: 15px 53px;
  color: #fff;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .procress .process-holder .row p {
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    line-height: 18px;
  }
}

.sauce {
  text-align: center;
  padding-top: 50px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .sauce {
    padding-top: 0;
  }
}

.sauce .sauce-title {
  padding-bottom: 40px;
}

.sauce .sauce-title h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 56px;
  color: #2b292d;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .sauce .sauce-title h2 {
    font-size: 26px;
    line-height: 30px;
  }
}

.sauce .sauce-title p {
  font-size: 16px;
  font-weight: 300;
  line-height: 34px;
  color: #2b292d;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .sauce .sauce-title p {
    font-size: 14px;
    line-height: 24px;
  }
}

.sauce .row {
  margin-bottom: 50px;
}

.sauce .row .card {
  padding-top: 30px;
}

.sauce .row .card .card-img-top {
  margin: 0 auto;
  width: 154px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .sauce .row .card .card-img-top {
    width: 100px;
  }
}

.sauce .row .card h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0;
  color: #2b292d;
  padding-bottom: 15px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .sauce .row .card h3 {
    font-size: 16px;
    line-height: 24px;
  }
}

.sauce .row .card p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0;
  color: #2b292d;
  padding: 0 42px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .sauce .row .card p {
    font-size: 12px;
    line-height: 20px;
    padding: 0;
  }
}

.sauce .row .card-1 {
  border: none;
}

.founder {
  background-image: url("/images/background-2.png");
  margin-top: 50px;
  background-repeat: no-repeat;
  padding-bottom: 15px;
  background-size: 100% 100%;
}

.founder .row {
  padding: 50px 0;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .founder .row {
    padding-bottom: 0;
  }
}

.founder .row .human {
  text-align: center;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .founder .row img {
    width: 300px;
  }
}

.founder .row .message {
  padding-top: 0;
}

.founder .row .message h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .founder .row .message h2 {
    font-size: 26px;
    line-height: 0;
  }
}

.founder .row .text {
  margin-top: 20px;
}

.founder .row .blockquote {
  margin-top: 40px;
  margin-bottom: 80px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .founder .row .blockquote {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.founder .row .blockquote p {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0;
  text-align: left;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .founder .row .blockquote p {
    font-size: 16px;
    line-height: 25px;
  }
}

.founder .row cite {
  margin-top: 60px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .founder .row cite {
    font-size: 15px;
    font-weight: 400;
  }
}

.founder .row .award {
  margin-top: 18px;
}

.founder .row .award small {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .founder .row .award small {
    font-size: 14px;
    font-weight: 400;
  }
}

.shops img {
  width: 100%;
}

.team {
  text-align: center;
  padding: 30px;
  background-image: url(/images/Background-3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 112% 100%;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .team {
    padding: 15px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .team img {
    width: 100%;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .team .tittle h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
  }
}

.team .tittle p {
  font-size: 12px;
  line-height: 18px;
  padding-bottom: 20px;
}

.success {
  text-align: center;
  padding: 50px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .success {
    padding: 20px;
  }
}

.success .success-tittle h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 56px;
  letter-spacing: 0;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .success .success-tittle h2 {
    font-size: 24px;
    line-height: 30px;
  }
}

.success .success-tittle p {
  font-size: 16px;
  font-weight: 300;
  line-height: 34px;
  letter-spacing: 0;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .success .success-tittle p {
    font-size: 14px;
    line-height: 20px;
  }
}

.success .row {
  margin-top: 40px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .success .row {
    margin-top: 40px;
  }
}

.success .row .card-1 {
  bottom: -240px;
  border: none;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .success .row .card-1 {
    bottom: 0;
  }
}

.success .row li {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0;
  color: #3c3c3c;
  padding: 10px;
  position: relative;
  text-align: left;
}

.success .row li:before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background-image: url("/images/lil-Oval.png");
  background-size: contain;
  left: -15px;
  margin-top: 10px;
}

.success .row li h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  letter-spacing: 0;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .success .row li h3 {
    font-size: 20px;
  }
}

.success .row li p {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .success .row li p {
    font-size: 14px;
  }
}

.success .row img {
  width: 100%;
}

.expert {
  text-align: center;
}

.expert .expert-tittle h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 56px;
  letter-spacing: 0;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .expert .expert-tittle h2 {
    font-size: 24px;
    line-height: 30px;
  }
}

.expert .expert-tittle p {
  font-size: 16px;
  font-weight: 300;
  line-height: 34px;
  letter-spacing: 0;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .expert .expert-tittle p {
    font-size: 14px;
    line-height: 20px;
  }
}

.expert .row {
  padding-top: 40px;
  padding-bottom: 60px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .expert .row {
    padding-bottom: 90px;
  }
}

.expert .row .input-group {
  width: 90%;
  height: 40px;
}

.expert .row .desc {
  height: 150px;
  padding-bottom: 120px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .expert .row .desc {
    height: 130px;
  }
}

.expert .row .first {
  border: 1px solid #cecece;
  width: 90%;
  height: 40px;
  margin-bottom: 17px;
  text-align: left;
  font-size: 15px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0;
  padding-left: 10px;
}

.expert .row li {
  list-style: none;
}

.expert .row .content {
  text-align: left;
}

.expert .row .content p {
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .expert .row .content p {
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 10px;
  }
}

.expert .row .line {
  padding-left: 194px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .expert .row .line {
    padding-left: 0;
  }
}

.expert .row .list h3 {
  text-align: left;
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  letter-spacing: 0;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .expert .row .list h3 {
    padding-top: 15px;
    font-size: 20px;
  }
}

.footer {
  background: #b57ad2;
  color: #fff;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .footer {
    padding: 0 !important;
  }
}

.footer .row {
  padding-top: 30px;
}

.footer .company ul {
  list-style: none;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .footer .company ul {
    padding: 0;
  }
}

.footer .company ul h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 31px;
  letter-spacing: 0;
}

.footer .company ul a {
  font-size: 12px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0;
  text-decoration: none;
  color: #fff;
}

.footer .quick ul {
  list-style: none;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .footer .quick ul {
    padding: 0;
  }
}

.footer .quick ul h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 31px;
  letter-spacing: 0;
}

.footer .quick ul a {
  font-size: 12px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0;
  text-decoration: none;
  color: #fff;
}

.footer .social-icons ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -40px;
  margin-top: auto;
}

.footer .social-icons ul .bi {
  width: 45px;
  height: 33px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .footer .social-icons ul .bi {
    width: 35px;
    height: 25px;
  }
}

.footer h6 {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0;
}

.footer .text-muted {
  color: #ffffffa6 !important;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
  .footer .text-muted {
    padding-bottom: 15px;
    margin: 0;
  }
}
/*# sourceMappingURL=shared.css.map */