.team {
    text-align: center;
    padding: 30px;
    background-image: url(/images/Background-3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 112% 100%;

    @media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
        padding: 15px;
    }

    img {
        @media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
            width: 100%;
        }
    }

    .tittle {
        h2 {
            @media only screen and (min-device-width: 375px) and (max-device-width: 992px) {
                font-size: 16px;
                font-weight: 600;
                line-height: 30px;
            }
        }

        p {
            font-size: 12px;
            line-height: 18px;
            padding-bottom: 20px;
        }
    }
}
