.team {
    text-align: center;
    padding: 30px;
    background-image: url(/images/Background-3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 112% 100%;
}
